.dms {
  .header a {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;

    .img-container {
      width: 28px;
      height: 28px;
      margin-right: 10px;
    }

    .arrow {
      width: 10px;
      height: 10px;
      position: relative;
      top: 2px;
    }
  }
}
