.workplace {
  width: 100vw;
  height: calc(100vh - 38px);
  display: grid;
  grid-template-columns: 260px 1fr;
  position: fixed;
  top: 38px;
  left: 0;

  @media screen and (max-width: 980px) {
    grid-template-columns: 200px 1fr;
  }
}

.workplace__sidebar {
  height: 100%;
  background: var(--main-purple);

  .sidebar__title {
    height: 50px;
    padding: 0 16px;
    margin-bottom: 20px;
    border-top: 1px solid var(--light-purple);
    border-bottom: 1px solid var(--light-purple);
    display: flex;
    font-size: 1.8rem;
    color: white;
    font-weight: 800;
    align-items: center;
  }

  summary,
  li {
    padding: 0 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--dark-white);
    cursor: pointer;
  }

  li {
    padding: 0;

    &:hover {
      background: var(--dark-purple);
    }

    &.active {
      background: var(--point-blue);
      color: white;
      font-weight: 600;
    }

    &:last-child {
      margin-bottom: 20px;
    }

    a {
      width: 100%;
      padding: 7px 16px 7px 24px;
      display: grid;
      grid-template-columns: 12px auto;
      gap: 10px;
      align-items: center;

      i {
        display: flex;
        align-items: baseline;
        justify-content: center;
      }

      .img-container {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background: var(--light-gray);
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }

    &.channels__option {
      i {
        display: inline-block;
        width: 16px;
        background: var(--light-purple);
        border-radius: 5px;
        font-weight: 400;
        text-indent: 4px;
      }
    }
  }

  .sidebar__DMs a {
    display: grid;
    grid-template-columns: 20px auto;
  }
}
