<%= structure = capture do %>
  <section class="users">
    <%= render partial: 'header', locals: {title: "Edit a profile"} %>
    <%= render partial: 'form' %>
  </section>
<% end %>

<%= render 'shared/template', :structure => structure %>
