<header>
  <div></div>
  <form action="" class="header__searchForm">
    <input type="text" placeholder="Search blabla" >
  </form>
  <a href="<%= user_path @current_user.id %>" class="img-container">
    <%= cl_image_tag @current_user.image, alt: "user image" %>
  </a>
</header>