<div id="container">
  <%= render partial: 'shared/header' %>
  <div class="workplace">
    <%= render partial: 'shared/sidebar' %>
    <main class="workplace__primaryView">

      <%= structure %>

    </main>
  </div>
</div>