<div class="chats__form-container">
  <div class="chats__form-innerbox">

    <div id="editor"></div>

    <%# <%= form_with model: @chat, class: "chats__form", remote: true do |f| %> %>
    <%= form_with model: @chat, class: "chats__form", local: true do |f| %>
      <%= f.hidden_field :msg, class: "chats__form__input" %>
      <button type="submit">
        <img src="/assets/send-icon.png" alt="submit">
      </button>
    <% end %>
  </div>
</div>