<div class="header">
  <h2 class="header__title channel__infoBtn">
    <% if @channel.private? %>
      <i><%= image_tag('/assets/lock-icon-black.svg')%></i>
    <% end %>
    <span><%= @channel.name %></span>
    <img class="arrow" src="/assets/arrow-icon.png" alt="">

  </h2>
  <div class="header__member">
    <% 3.times do |i| %>
      <% break unless @channel.users[i].present?%>

      <div class="img-container">
        <%= cl_image_tag @channel.users[i].image, alt: "user image" %>
      </div>
    <% end %>
    <span class="member__count"><%= @channel.users.where(status: "active").count %></span>
  </div>
</div>