.chats {
  height: calc(100vh - 38px);
  position: relative;
  display: grid;
  grid-template-rows: 50px 1fr auto;

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  p {
    font-size: 1.5rem;
  }

  pre {
    font-family: "Fira Code", monospace;
    background: #1d1c1d0a !important;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 8px;
    margin: 4px 0;
    font-size: 1.3rem;
    color: black !important;
    line-height: 1.5;
    letter-spacing: -0.5px;
    white-space: normal;
  }

  .text-container {
    line-height: 1.6;

    p:not(.msg) + ol,
    p:not(.msg) + ul {
      margin: 5px 0;
    }

    ol li {
      display: list-item;
      list-style: inside;
      padding: 0;
      list-style-type: decimal !important;
      font-size: 1.5rem;
    }

    ul li {
      display: list-item;
      list-style: inside;
      padding: 0;
      font-size: 1.5rem;
    }
  }
}
