.arrow {
  width: 10px;
  margin-left: 5px;
}

.header__member {
  width: 90px;
  height: 28px;
  padding: 0 5px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .img-container {
    width: 22px;
    height: 22px;
    border: 1px solid white;
    margin-right: -5px;
  }

  .member__count {
    color: black;
    font-size: 13px;
    color: gray;
    font-weight: 400;
    margin-left: auto;
    margin-right: 5px;
  }
}
