/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// reset
@import "./reset.css";

body * {
  box-sizing: border-box !important;
}

// basic setting
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --dark-purple: #350d36;
  --main-purple: #3f0e40;
  --light-purple: rgb(82, 38, 83);
  --point-pink: #cd2553;
  --point-blue: #1164a3;
  --point-green: #2bac76;
  --dark-green: #007a5a;
  --main-white: #ffffff;
  --dark-white: #cfc3cf;
  --main-gray: rgb(187, 187, 187);
  --light-gray: rgb(233, 233, 233);
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}

// header style
header {
  width: 100vw;
  height: 38px;
  background: var(--dark-purple);
  display: grid;
  grid-template-columns: 260px 1fr auto;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  .header__searchForm input {
    all: unset;
    width: 100%;
    max-width: 720px;
    height: 24px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;

    &::placeholder {
      color: white;
      text-align: center;
    }

    &:focus {
      background-color: white;
    }
  }

  .header__profile {
    width: 28px;
    height: 28px;
    margin: 0 16px;
    border-radius: 5px;
    background: gray;
    overflow: hidden;

    img {
      display: inline-block;
      width: 100%;
    }
  }
}

.workplace {
  width: 100vw;
  height: calc(100vh - 38px);
  display: grid;
  grid-template-columns: 260px 1fr;
  position: fixed;
  top: 38px;
  left: 0;

  .workplace__sidebar {
    height: 100%;
    background: var(--main-purple);

    .workplace__sidebar__title {
      height: 50px;
      padding: 0 16px;
      margin-bottom: 20px;
      border-top: 1px solid var(--light-purple);
      border-bottom: 1px solid var(--light-purple);
      display: flex;
      font-size: 18px;
      color: white;
      font-weight: 800;
      align-items: center;
    }

    summary,
    li {
      padding: 0 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 15px;
      color: var(--dark-white);
      cursor: pointer;
    }

    li {
      padding: 0;

      i {
        margin-right: 5px;
      }

      a {
        display: block;
        width: 100%;
        padding: 7px 16px 7px 30px;
      }

      &:hover {
        background: var(--dark-purple);
      }

      &.active {
        background: var(--point-blue);
        color: white;
        font-weight: 600;
      }

      &:last-child {
        margin-bottom: 20px;
      }

      &.workplace__sidebar__channels__option {
        i {
          display: inline-block;
          width: 16px;
          background: var(--light-purple);
          border-radius: 5px;
          font-weight: 400;
          text-indent: 4px;
        }
      }
    }
  }

  .workplace__primaryView {
    height: 100%;
    background: var(--main-white);

    .header {
      height: 50px;
      padding: 0 20px;
      background: var(--main-white);
      border-bottom: 1px solid var(--light-gray);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__title {
        font-size: 18px;
        font-weight: 800;
      }

      .header__member {
        width: 90px;
        height: 28px;
        border: 1px solid var(--light-gray);
        border-radius: 10px;
      }
    }
  }
}
