.channels {
  .channels__searchForm {
    width: 100%;
    padding: 20px;

    input {
      all: unset;
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid var(--main-gray);
      border-radius: 5px;
      font-size: 15px;

      &:focus {
        outline: 3px solid rgb(134, 200, 255);
      }
    }
  }

  .channels__list {
    padding: 20px;

    .channels__list__item {
      &:hover {
        background: rgb(250, 250, 250);

        .option-container {
          display: block;
        }
      }
      padding: 16px 20px;
      border-top: 1px solid var(--light-gray);
      position: relative;

      .text-container {
        div {
          display: flex;
          justify-content: flex-start;
          gap: 5px;

          &:first-child {
            margin-bottom: 5px;
          }
        }

        .title {
          font-size: 15px;
          font-weight: 600;
        }

        span {
          font-size: 13px;
          color: gray;
        }
      }

      .option-container {
        display: none;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        a {
          display: inline-block;
          width: 90px;
          padding: 10px 0;
          text-align: center;
          border: 1px solid var(--light-gray);
          border-radius: 5px;
          font-size: 14px;
          font-weight: 600;

          &.viewBtn {
            margin-right: 5px;
            background: white;
          }

          &.joinBtn {
            background: var(--dark-green);
            color: white;
          }
        }
      }
    }
  }

  .channels__form {
    width: 520px;
    padding: 0 20px;

    > p {
      margin: 10px 0 30px;
      font-size: 15px;
      color: gray;
      font-weight: 400;
    }

    > div {
      margin-bottom: 30px;

      label {
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 400;
      }

      input[type="text"] {
        all: unset;
        display: inline-block;
        width: 100%;
        padding: 8px;
        border: 1px solid var(--main-gray);
        border-radius: 5px;

        &:focus {
          outline: 3px solid rgb(134, 200, 255);
        }
      }

      p {
        margin-top: 5px;
        font-size: 13px;
        color: gray;
        font-weight: 400;
      }

      &.private {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        input[type="checkbox"] {
          transform: scale(1.3);
        }
      }
    }

    input[type="submit"] {
      all: unset;
      padding: 12px 20px;
      margin-top: 20px;
      background: var(--dark-green);
      border-radius: 5px;
      font-size: 15px;
      color: white;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
    }
  }

  .channels__info-wrapper {
    width: 100%;
    height: calc(100vh - 38px);
    background: var(--light-gray);
    padding: 20px;
  }

  .channels__info {
    width: fit-content;
    min-width: 40vw;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    background: var(--main-white);

    > div {
      padding: 20px;
      border-bottom: 1px solid rgb(221, 221, 221);

      &:last-child {
        border: none;
      }

      p:first-child {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 5px;
      }

      a {
        font-size: 15px;
        font-weight: 400;

        &.editBtn {
          margin-right: 10px;
        }

        &.deleteBtn,
        &.leaveBtn {
          color: var(--point-pink);
        }
      }
    }
  }
}
