.channels {
  .channels__searchForm {
    width: 100%;
    padding: 20px;

    input {
      all: unset;
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid var(--main-gray);
      border-radius: 5px;
      font-size: 15px;

      &:focus {
        outline: 3px solid rgb(134, 200, 255);
      }
    }
  }

  .channels__list {
    padding: 20px;

    .channels__list__item {
      padding: 16px 20px;
      border-top: 1px solid var(--light-gray);
      position: relative;

      &:hover .option-container {
        display: block;
      }

      .text-container {
        div {
          display: flex;
          justify-content: flex-start;
          gap: 5px;

          &:first-child {
            margin-bottom: 5px;
          }
        }

        .title {
          font-size: 15px;
          font-weight: 600;
        }

        span {
          font-size: 13px;
          color: gray;
        }
      }

      .option-container {
        display: none;
        right: 20px;

        a:first-child {
          color: black;
          background: white;
        }
      }
    }
  }

  .channels__form {
    width: 100%;
    max-width: 520px;
    padding: 0 20px;

    > p {
      margin: 10px 0 30px;
      font-size: 15px;
      color: gray;
      font-weight: 400;
    }

    > div {
      margin-bottom: 30px;

      p {
        margin-top: 5px;
        font-size: 13px;
        color: gray;
        font-weight: 400;
      }

      &.private {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        input[type="checkbox"] {
          transform: scale(1.3);
        }
      }
    }
  }

  .channels__info-wrapper {
    width: 100%;
    height: calc(100vh - 38px);
    background: var(--light-gray);
    padding: 20px;

    .channels__info {
      width: fit-content;
      min-width: 40vw;
      border-radius: 10px;
      border: 1px solid rgb(221, 221, 221);
      background: var(--main-white);
      overflow: hidden;

      > div {
        padding: 20px;
        border-bottom: 1px solid rgb(221, 221, 221);

        &:last-child {
          border: none;
        }

        p:first-child {
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 5px;
        }

        a {
          font-size: 15px;
          font-weight: 400;

          &.editBtn {
            margin-right: 10px;
          }

          &.deleteBtn,
          &.leaveBtn,
          &.joinBtn {
            color: var(--point-pink);
          }
        }
      }
    }
  }

  .channels__members-wrapper {
    @extend .channels__info-wrapper;

    .channels__members {
      @extend .channels__info;

      li {
        display: block;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        position: relative;

        &:hover .option-container {
          display: block;
        }

        &:first-child {
          a {
            @extend li;
            align-items: center;
            padding: 0;
          }
        }

        .img-container {
          width: 36px;
          height: 36px;
        }

        .text-container {
          p:first-child {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
          }

          p:last-child {
            font-size: 14px;
            color: gray;
          }
        }

        &.addBtn .text-container {
          font-size: 15px;
          font-weight: 600;
        }

        .option-container {
          display: none;
          right: 20px;

          a {
            padding: 5px 10px;
            font-size: 13px;
            background: var(--point-pink);

            &:last-child {
              background: var(--dark-green);
            }
          }
        }
      }
    }
  }
}
