.chats {
  height: calc(100vh - 38px);
  position: relative;
  display: grid;
  grid-template-rows: 50px 1fr auto;

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration: line-through;
  }

  pre {
    font-family: "Fira Code", monospace;
    background: #1d1c1d0a !important;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 8px;
    margin: 4px 0;
    font-size: 13px;
    color: black !important;
    line-height: 1.5;
  }

  .chats__list-container {
    overflow-y: scroll;

    .chats__list {
      padding-bottom: 20px;
      display: flex;
      flex-direction: column-reverse;

      li {
        padding: 8px 20px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        position: relative;

        &:hover .option-container {
          display: block;
        }

        &.disabled {
          opacity: 0.2;
          pointer-events: none;
        }

        .img-container {
          width: 36px;
          height: 36px;
        }

        .text-container {
          > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-bottom: 2px;
          }

          .username {
            font-size: 15px;
            font-weight: 800;
            text-transform: capitalize;
          }

          .time {
            font-size: 12px;
            color: gray;
          }

          .msg {
            font-size: 15px;
            line-height: 1.4;
          }

          .edited {
            display: block;
            margin-top: 8px;
            color: gray;
            font-size: 13px;
          }
        }

        .option-container {
          display: none;
          right: 30px;
          top: 5px;
          border: 1px solid var(--main-gray);
          border-radius: 5px;
          padding: 5px 10px;
          background: white;
          z-index: 50;

          a {
            font-size: 13px;
            margin-right: 5px;
            opacity: 0.8;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &.date {
          padding: 36px 0 18px;
          position: relative;
          pointer-events: none;

          &::after {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background: var(--light-gray);
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1;
          }

          span {
            display: block;
            padding: 8px 15px;
            background: white;
            border: 1px solid var(--light-gray);
            border-radius: 20px;
            box-shadow: 0 0 3px var(--light-gray);
            font-size: 13px;
            font-weight: 400;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .chats__form-container {
    height: 140px;
    padding: 0 20px;

    .chats__form-innerbox {
      border: 1px solid var(--light-gray);
      border-radius: 10px;
      overflow: hidden;

      .ql-toolbar {
        border: none;
        background: rgb(250, 250, 250);

        button {
          opacity: 0.5;
          margin-right: 3px;

          &.ql-active {
            opacity: 1;
            background: var(--light-gray);
            border-radius: 5px;
          }
        }
      }

      .ql-container {
        border: none;
        font-size: 15px;
      }

      .chats__form {
        padding: 0 10px 10px;

        button {
          all: unset;
          display: block;
          width: 18px;
          height: 18px;
          margin-left: auto;
          margin-right: 10px;

          opacity: 0.3;

          &:hover {
            opacity: 1;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
