.dms {
  height: calc(100vh - 38px);
  position: relative;
  display: grid;
  grid-template-rows: 50px 1fr auto;

  .header {
    display: flex;
    justify-content: flex-start !important;
    gap: 10px;

    .img-container {
      width: 28px;
      height: 28px;
      border-radius: 5px;
      background: var(--light-gray);
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}
