.workplace__primaryView {
  .header {
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__title {
      font-size: 18px;
      font-weight: 800;
    }

    .header__member {
      width: 90px;
      height: 28px;
      border: 1px solid var(--light-gray);
      border-radius: 10px;
    }
  }
}
