.users__list {
  padding: 20px;

  li {
    position: relative;
    padding: 16px 20px;
    border-bottom: 1px solid var(--light-gray);

    a {
      display: block;

      display: flex;
      gap: 10px;

      .img-container {
        width: 36px;
        height: 36px;
      }

      .text-container {
        .username {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 3px;
        }

        .title {
          font-size: 15px;
          color: gray;
        }
      }
    }
  }
}
